:root {
  --border-color: #999999;
  --green: #a3d33c;
  --bright-green: #73f340;
  --input-placeholder-color: #888888;
  --main-button-background-color: lightgrey;
  --main-button-hover-background-color: #e6e6e6;
  --main-font-color: #333333;
  --red: #ed3f33;
  --white: #ffffff;
}

* {
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  color: var(--main-font-color);
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 75px 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.display-none {
  display: none !important;
}

button {
  height: 45px;
  padding: 0 25px;

  font-size: 14px;
  text-transform: capitalize;

  background-color: var(--main-button-background-color);
  border: 1px solid var(--border-color);
}

button:hover {
  background-color: var(--main-button-hover-background-color);
}

.button--medium {
  height: 48px;
  padding: 0 35px;

  font-size: 16px;
}

.button--big {
  height: 90px;
  padding: 0 75px;

  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  background-color: var(--white);
  border: 1px solid var(--border-color);
  outline: none;
}

input::-webkit-input-placeholder {
  color: var(--input-placeholder-color);
}

input::-moz-placeholder {
  color: var(--input-placeholder-color);
}

input:-ms-input-placeholder {
  color: var(--input-placeholder-color);
}

input::-ms-input-placeholder {
  color: var(--input-placeholder-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}
