.username-input-container {
  width: 240px;
  height: 39px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  margin-left: 10px;
  padding: 0 15px;

  font-size: 14px;
  text-transform: uppercase;
}
