.button--rooms {
  margin: 30px 0 40px;
}

.rooms {
  display: grid;

  -moz-column-gap: 30px;
  column-gap: 30px;

  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 300px;
  padding: 15px 0 35px;

  border: 1px solid var(--border-color);
}

.room p {
  font-style: italic;
  font-size: 15px;
}

.room h3 {
  font-size: 22px;
  text-align: center;
}
